:root {
  --color-black: #000000;
  --color-text: var(--color-black);
  --color-text-faded: rgba(0, 0, 0, 0.3);
  --color-outline: var(--color-black);
  --color-background: #eceeef;
  --color-yellow: #fdf1cb;
  --color-yellow-highlight: #fde85f;
  --color-pink: #fd73d6;
  --color-pink-highlight: #d08dff;
  --color-green: #4bc580;
  --color-green-highlight: #ceff92;
  --color-blue: #808df2;
  --color-blue-highlight: #b4d7f1;
}
