:root {
  --color-black: #000000;
  --color-text: var(--color-black);
  --color-text-faded: rgba(0, 0, 0, 0.5);
  --color-outline: var(--color-black);
  --color-background: #eceeef;
  --color-yellow: #fde85f;
  --color-yellow-highlight: #fce7a4;
  --color-pink: #fd73d6;
  --color-pink-highlight: #f4bbff;
  --color-green: #3bb276;
  --color-green-highlight: #d2fc8a;
  --color-blue: #808df2;
  --color-blue-highlight: #b4d7f1;
}
