@font-face {
  font-family: "SplineSans";
  src:
    url("../fonts/SplineSans-Variable.woff2") format("woff2"),
    url("../fonts/SplineSans-Variable.woff") format("woff"),
    url("../fonts/SplineSans-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src:
    url("../fonts/SplineSansMono-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/SplineSansMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src:
    url("../fonts/SplineSansMono-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("../fonts/SplineSansMono-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}
